
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormularioEstudiantes</title>
</head>
<body>
    <div>
        <form method="post" action="/Home/CargaDatos">
            <p>Nombre: <input type="text" name="nombre" /></p>
            <p>Cedula: <input type="text" name="cedula" /></p>
            <p>Telefonos: <input type="text" name="telefono" /></p>
            <p>Correo: <input type="text" name="correo" /></p>
            <br />
            <p><input type="submit" value="Confirmar" /></p>
        </form>
    </div>
    <div>
        <a href="/Home/ListadoEstudiantes">Listado de Estudiantes</a>
    </div>
</body>
</html>
